body {
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/beige_parchment_paper_background_1800x1600.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#header{
    text-align: center;
    font-size: 36px;
    margin-top: 2%;
}
.container {

}

#navbar {
    width: 100%;
    padding: 5px;
}

#pageBox {
    width: 40%;
    display: flex;
    justify-content: space-around;
    float: right;
    font-size: 24px;
}


.pageSection {
    background: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 20px;
}

#aboutMe {
    padding: 20px;
}
p {
    text-indent: 20px;
    font-size: 20px;
}

#selfImage {
    float: right;
    margin: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}

.projectAbout {
    float:left;
    width: 60%;
}
.projectImage {
    float: right;
}

.projInfo {
    margin: 10px;
}
.projTech {
    columns: 2;
}